#header{
     position: relative;
}


.header{
     display: flex;
     align-items: center;
     justify-content: center;
}

.header h1{
     font-size: 4rem;
     line-height: 1.4;
     color: var(--color-white);
     padding-bottom: 2rem;
     position: relative;

}

.header h1 span{
     display: block;
}

h1 span:nth-child(1){
     font-weight: 900;
}

h1 span:nth-child(2){
     font-weight: 500;
}

h1 span:nth-child(3){
     font-weight: 100;
}

.header h1::after{
     content: "";
     position: absolute;
     bottom: 0;
     right: 0;
     width: 65%;
     background: var(--color-white);
     height: 1px;
}

.header-right,.header-left{
     width: 50%;
}

.header-right p{
     font-size: 1.2rem;
     line-height: 1.5;
     margin: 3rem 0;
     color: var(--color-white);
     width: 70%;
}

.header-left{
     display: flex;
     align-items: center;
     justify-content: flex-end;
}
.header-left img{
     width: 90%;
}


.floating-icon{
     position: absolute;
     width: 5rem;
     height: 5rem;
     background: var(--light-blue);
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     left: 50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
     bottom: 0;
}

.floating-icon a{
     margin: 0;
}


.mouse{
     transform: translateY(-25%);
     -webkit-transform: translateY(-25%);
     -moz-transform: translateY(-25%);
     -ms-transform: translateY(-25%);
     -o-transform: translateY(-25%);
     animation: bounce .8s ease infinite alternate;
     -webkit-animation: bounce .8s ease infinite alternate;
}

@keyframes bounce {
     0%{
          transform: translateY(-25%);
          -webkit-transform: translateY(-25%);
          -moz-transform: translateY(-25%);
          -ms-transform: translateY(-25%);
          -o-transform: translateY(-25%);
}
     100%{
          transform: translateY(25%);
          -webkit-transform: translateY(25%);
          -moz-transform: translateY(25%);
          -ms-transform: translateY(25%);
          -o-transform: translateY(25%);
}
}


@media screen and (max-width: 768px) {
          .header h1{
               font-size: 3rem;
          }
}

@media  screen and (max-width: 600px) {
     .header{
          flex-direction: column;
     }
   
     .header-right, .header-left{
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 0 auto;
     }
     .header-right{
          margin-bottom: 4rem;
     }
     .header-left img {
          width: 75%;
     }
     section{
          padding: 8rem 0;
     }
}